@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    background: #ff6b81;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

div.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}